    <%-include ('partials/header.ejs')%>
    <main class="main-estreia">
        <br>
        <h1 class="h1-estreia">Estreias</h1>

        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h1>Cadastrar Filme</h1>
                </div>
                <div class="card-body">
                    <form action="/estreias/cadastrar" method="POST">
                        <label>url da imagem</label>
                        <input type="text" name="url" placeholder="Insira a url da imagem" class="form-control" required>

                        <label>titulo do filme</label>
                        <input type="text" name="titulo" placeholder="Insira o titulo do filme" class="form-control" required>

                        <label>genero do filme</label>
                        <input type="text" name="genero" placeholder="Insira o genero do filme" class="form-control" required>

                        <label>data de estreia</label>
                        <input type="text" name="estreia" placeholder="Insira a data de estreia do filme" class="form-control" required>

                        <label>Escolha o Diretor:</label>
                        <select name="diretorId" id=""   class="form-control" >
                            <% diretores.forEach(diretor =>{ %>
                                <option value="<%= diretor.id%>"> <%= diretor.nomeDiretor %></option>
                            <%})%>   
                        </select>
                        <br>
                        <button type="submit" class="btn btn-success">Cadastrar</button>
                        <button type="reset" class="btn btn-danger">Limpar</button>
                    </form>
                    <hr>
                </div>
            </div>
        </div>

        <div class="div-table">
            <table>
            <tr>
                <th>POSTER</th>
                <th>TÍTULO</th>
                <th>GENERO</th>
                <th>DATA DE ESTREIA</th>
                <th>DIRETOR</th>
                <th>AÇÕES</th>
            </tr>
            <tbody>
                <% estreias.forEach((estreia) => { %>
                    <tr>
                        <td>
                            <img src="<%= estreia.urlImage%>" alt="">
                        </td>
                        <td>
                            <%= estreia.titulo %>
                        </td>
                        <td>
                            <%= estreia.genero %>
                        </td>
                        <td>
                            <%= estreia.dataEstreia %>
                        </td>
                        <td>
                            <%= estreia.diretore.nomeDiretor %>
                        </td>
                         <td>
                            <a href="/estreias/editar/<%= estreia.id%>"><button class="btn btn-warning">Editar</button></a>
                            <a href="/estreias/excluir/<%= estreia.id%>"><button onclick="return confirm('Deseja mesmo excluir a estreia?')" class="btn btn-danger">Excluir</button></a>
                        </td>
                    </tr>
                <% }) %>
            </tbody> 
        </table>
        </div>
    </main>
</body>
</html>