    <%-include ('partials/header.ejs')%>
    <main class="main-estreia">
            <h1 class="h1-estreia">Estreias</h1>
        <div class="div-table">
            <table>
            <tr>
                <th>POSTER</th>
                <th>TÍTULO</th>
                <th>GENERO</th>
                <th>DATA DE ESTREIA</th>
            </tr>
            <tbody>
                <% estreias.forEach((estreia) => { %>
                    <tr>
                        <td>
                            <img src="<%= estreia.img%>" alt="">
                        </td>
                        <td>
                            <%= estreia.Titulo %>
                        </td>
                        <td>
                            <%= estreia.genero %>
                        </td>
                        <td>
                            <%= estreia.data %>
                        </td>
                    </tr>
                <% }) %>
            </tbody> 
        </table>
        </div>
    </main>
</body>
</html>